@inject RecipeManager RecipeManager
@inject FileService FileService

<h2>➕ Add Recipe</h2>

<div class="recipe-card">

    <input @bind="recipe.Name" placeholder="Recipe Name" />
    <input @bind="recipe.Category" placeholder="Category" />

    <h4>Ingredients</h4>

    <input @bind="ingredientName" placeholder="Ingredient name" />
    <input @bind="qty" type="number" placeholder="Qty" />
    <input @bind="unit" placeholder="Unit" />

    <button class="btn btn-secondary" @onclick="AddIngredient">
        Add Ingredient
    </button>

    <ul>
        @foreach (var i in recipe.Ingredients)
        {
            <li>@i.Name (@i.Quantity @i.Unit)</li>
        }
    </ul>

    <button class="btn btn-success" @onclick="Save">
        Save Recipe
    </button>
</div>